<header>
    <nav class="header-nav">
      <a class="header-title" href="/">My Diet Tracker</a>
      <ul>
        <li><a href="/diets">Diets</a></li>
        <li><a href="/diets/new">Add Diet</a></li>
        <li><a href="/meals">Meals</a></li>
        <li><a href="/meals/new">Add Meal</a></li>
      </ul>
    </nav>
  </header>